* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.home-page-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
}

.side-bar {
    background-color: #212A31;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.header {
    background-color: #748D94;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.home-page-content {
    background-color: #D3D9D4;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

ul {
    list-style: none;
    padding-left: 0;
    color: white;
    font-size: max(1rem, 1.5vw);
    margin-top: 3rem;
}

li {
    display: flex;
    margin-left: 1rem;
    margin-top: 6px;

    &:hover {
        cursor: pointer;
        animation: slide-right 0.3s ease-out;
        animation-direction: normal;
        animation-fill-mode: both;
    }
}
@keyframes slide-right {
    0% {
        transform: translate(0);
    } 100% {
        transform: translateX(20px);
    }
}
li > svg {
    display: inline;
    height: 100%;
    width: 12%;
    fill: white;
}

li > .pages-text + .help-text {
    margin-top: 1%;
    margin-left: 10px;
}

.div-1 {
    display: flex;
}
.search-bar {
    margin: 2%;
    display: flex;
    width: 70%;
    height: 2rem;
}
.search-bar > svg {
    height: 100%;
    margin-right: 1%;
}

.account-info {
    display: flex;
    justify-content: end;
    margin: 2%;
    width: 30%;
    height: 3rem;
    gap: 3%;

}

.account-info .profile-photo {
    height: 3rem;
    width: 3rem;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 2rem;
    overflow: hidden;
}

.account-info .user-name {
    margin-top: 2%;
    color: rgb(211, 211, 211);
    font-weight: 900;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div-2 {
    display: flex;
}

.user {
    display: flex;
    height: 100%;
    width: 50%;
    margin-left: 2vw;
    margin-bottom: 0.5%;
    gap: 1rem;
}
.greet-user {
    display: flex;
    flex-direction: column;
}

.user .profile-photo {
    width: 20%;
    border: 1px solid rgb(155, 61, 61);
    border-radius: 60%;
    overflow: hidden;
}

.user .profile-photo img {
    height: 100%;
    width: 100%;
}

.greet-user .user-name {
    margin-top: 2%;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: max(2vw, 1.5rem);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.user-action {
    margin-top: 1%;
    display: flex;
    justify-content: end;
    width: 60%;
    gap: 3%;
    margin-right: 3%;
}

.user-action-button {
    width: 10%;
    height: 40%;
    border-radius: 10%;
    border: 2px dotted rgb(118, 143, 172);
    background-color: #D3D9D4;
    font-weight: 900;
    text-shadow: 2px 2px 5px rgb(107, 107, 107);
    &:hover {
        cursor: pointer;
    }
    &:active {
        background-color: rgb(92, 92, 92);
        transform: scale(0.9);
        color: rgb(197, 197, 197);
    }
}

.home-page-content {
    display: grid;
    grid-template-columns: 7fr 2fr;
}

.user-projects-section {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-auto-rows: 25rem;
    gap: 3rem;
    margin: 2rem;
    border: 2px solid rgba(255, 0, 0, 0);
    position: relative;
}

.user-projects-section::before {
    content: 'Your projects';
    position: absolute;
    font-size: 2rem;
    top: -2rem;
    text-indent: 1rem;
    color: #027092;
    text-shadow: 3px 3px 6px black;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.user-project {
    background-color: white;
    border-radius: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 8%;
    padding: 2%;
    &:hover {
        cursor: default;
        box-shadow: 8px 8px 5px rgb(104, 154, 177);
    }
}

.user-project .project-utility {
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
    margin-top: auto;
    gap: 5%;
}

.user-project .project-utility svg {
    width: 10%;
    height: 100%;
    &:hover {
        cursor: pointer;
    }
}

.user-project-name {
    font-size: max(2rem, 2vw);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.user-project-description {
    font-size: max(1.5rem, 1.5vw);
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}